.main {
  --color-blue: blue;
  --color-blue-light: #00ade4;
  --color-purple: #9451f9;
  --color-purple-dark: #9451f9;
  --color-pink: #f3e4e7;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  flex: 1;
  background: var(--color-pink);

  height: 50%;
}

.wordToolsContainer {
  display: flex;
}

.wordContainer {
  display: inline-flex;
  height: 40px;
  align-items: center;
}

.word {
  margin-left: 24px;
  font-size: 24px;
}

.favoriteButton {
  margin-left: 24px;
}

.left {
  display: flex;
  width: 100%;
  border: 1px solid red;
  flex-direction: column;
}

.tabs {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
